<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.orengesunshine.chatory">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".ChatoryApp"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".util.LoadTextFileActivity"
            android:label="@string/title_activity_load_text_file"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- filter for sending text; accepts SENDTO action with sms URI schemes -->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.SENDTO" />-->

                <!--<category android:name="android.intent.category.DEFAULT" />-->

                <!--<data android:mimeType="text/plain" />-->
            <!--</intent-filter>-->
            <!-- filter for sending text or images; accepts SEND action and text or image data -->
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <!--<action-->
                    <!--android:name="android.intent.action.PICK"/>-->
                <!--<category-->
                    <!--android:name="android.intent.category.OPENABLE"/>-->
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SendActivity"
            android:label="@string/title_activity_send"
            android:theme="@style/AppTheme.NoActionBar"/>
        <provider
            android:authorities="com.orengesunshine.chatory"
            android:name=".data.ChatProvider"
            android:exported="false"/>
        <service android:name=".util.LoadTextFileService"/>
    </application>

</manifest>